.row {
    display: flex;
    flex-direction: row;
}


.letter-box {
    height: 100px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-contenxt: center;
    font-size: 5rem;
    border: 1px solid black;
    margin: 1px;
    border-radius: 10%;
}


.correct {
    background-color: limegreen;
}

.wrong-spot {
    background-color: yellow;
}

.incorrect {
    background-color: #282c34;
}

.not-submitted {
    background-color: darkslategrey;
}
